@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
  background: #567;
  font-family: 'Open Sans',sans-serif;
  margin: 2% 0;
}

.login-form{
	color: #fff;
	margin-top: 10%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  form{
  	margin: 0;
  	.button{
  		margin-bottom: 0; 
  	}
  }
}

.title{
	  background: #3399cc;
	  color: #fff;
	  font-size: 1.8em;
	  font-weight: 300;
	  padding: 20px 0;
	  text-align: center;
	  margin: 0;
	}

 .wrapper{
 	background: #f0f0f0;
	padding: 25px;
 }



.hide {
   display: none;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}