<div class="row">
  <div class="span-12 column">
    <header class="title">
      <h2>Profit App</h2>
      <a class="profile-link" href ng-click="profile = !profile"><i class="fa fa-user"></i></a>
    </header>

    <div class="wrapper">

      <section ng-show="profile">
        <form>
          <fieldset>
            <legend>Profile</legend>

            <label>
              <span>Name:</span>
              <input type="text" name="name" ng-model="user.name"/>
            </label>

            <label>
              <span>Email:</span>
              <input type="text" name="name" ng-model="user.email"/>
            </label>
          </fieldset>

          <fieldset>
            <legend>Change Password</legend>

            <label>
              <span>Old Password:</span>
              <input type="password" ng-keypress="reset()" ng-model="oldpass"/>
            </label>

            <label>
              <span>New Password:</span>
              <input type="password" ng-keypress="reset()" ng-model="newpass"/>
            </label>

            <label>
              <span>Confirm Password:</span>
              <input type="password" ng-keypress="reset()" ng-model="confirm"/>
            </label>

            <button class="button radius small" ng-click="updatePassword()">Update password</button>

            <p class="error" ng-show="err">{{err}}</p>
            <p class="good" ng-show="msg">{{msg}}</p>
          </fieldset>
        </form>
      </section>

      <section ng-hide="profile">

   <!--     <ul>
          <li><a href ng-click="dateFilter('all')">All</a></li>
          <li><a href ng-click="dateFilter('today')">Today</a></li>
          <li><a href ng-click="dateFilter('pastWeek')">Past Week</a></li>
          <li><a href ng-click="dateFilter('pastMonth')">Past Month</a></li>
          <li><a href ng-click="dateFilter('future')">Upcoming Events</a></li>
        </ul>-->
        <form>
          <div class="row">
            <div class="large-6 medium-6 small-12 columns">
              <label>
                <span>Purpose</span>
                <input ng-model="expense.purpose" type="text">
              </label>
              <label>
                <span>Category</span>
                <select ng-model="category" ng-options="categories.title for categories in categoryItems">
                </select>
              </label>
              <label>
                <span>Amount</span>
                <input ng-model="expense.amount" type="text">
              </label>
              <button type="submit" ng-click="addExpense()" class="button radius small">Add expense</button>
            </div>
          </div>
        </form>

        <div>
          <div class="row">
            <div class="large-6 medium-6 small-12 columns">
              <h3>Filters:</h3>
              <input type="search" ng-model="search" class="large-2 column">
            </div>
          </div>
        </div>

        <!--<table class="table">
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Event Date</th>
          </tr>
          <tr ng:repeat="data in dataModels | filter:dateRange">
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.eventDate | date:medium}}</td>
          </tr>
        </table>
-->
        <table id="expenses" class="small-12" ng-show="expenses">
          <thead>
          <tr>
            <th>Purpose</th>
            <th>Class</th>
            <th>Amount</th>
            <th>Day</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, expense) in expenses | orderByPriority | filter:dateRange">
              <td ng-hide="editorEnabled">{{expense.purpose}}</td>
              <td ng-show="editorEnabled">
                <input ng-model="expense.purpose" type="text">
              </td>

              <td ng-hide="editorEnabled">{{expense.class}}</td>
              <td ng-show="editorEnabled">
                <select ng-model="expense.class" ng-options="categories.title as categories.title for categories in categoryItems">
                </select>
              </td>

              <td ng-hide="editorEnabled">{{expense.amount}}</td>
              <td ng-show="editorEnabled">
                <input ng-model="expense.amount" type="text">
              </td>

              <td>{{expense.date.current | date : 'M' }}</td>
              <!--<td>{{expense.date.current  }}</td>-->
              <td>
                <a ng-hide="editorEnabled" href ng-click="editorEnabled = true; enableEditor(expense.$id)" class="button radius tiny">edit</a>
                <div ng-show="editorEnabled">
                  <a href ng-click="editorEnabled = false; save(expense.$id)" class="button radius tiny">Save</a>
                  <a href ng-click="editorEnabled = false; disableEditor(expense.$id)" class="button alert radius tiny">Cancel</a>
                </div>
                <a ng-hide="editorEnabled" href confirmed-action="removeExpense(expense.$id)" ng-confirm-click="This expense will be removed?" class="button alert radius tiny">remove</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!--<h4>Total: {{total()}}</h4>-->

          <!--<ul>-->
          <!--<li class="field" ng-repeat="(key, expense) in expenses | orderByPriority | filter:search">-->
            <!--{{expense.amount}}<div click-to-edit="expense.amount"></div>-->

         <!--</li>-->
        <!--</ul>-->

        <button ng-click="logout()" class="button radius small">Log Out</button>
      </section>

    </div>

  </div>
</div>

